@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.spinner_LWk7 {
  animation:
    spinner_GWy6 1.2s linear infinite,
    spinner_BNNO 1.2s linear infinite;
}

.spinner_yOMU {
  animation:
    spinner_GWy6 1.2s linear infinite,
    spinner_pVqn 1.2s linear infinite;
  animation-delay: 0.15s;
}

.spinner_KS4S {
  animation:
    spinner_GWy6 1.2s linear infinite,
    spinner_6uKB 1.2s linear infinite;
  animation-delay: 0.3s;
}

.spinner_zVee {
  animation:
    spinner_GWy6 1.2s linear infinite,
    spinner_Qw4x 1.2s linear infinite;
  animation-delay: 0.45s;
}

@keyframes spinner_GWy6 {

  0%,
  50% {
    width: 9px;
    height: 9px;
  }

  10% {
    width: 11px;
    height: 11px;
  }
}

@keyframes spinner_BNNO {

  0%,
  50% {
    x: 1.5px;
    y: 1.5px;
  }

  10% {
    x: 0.5px;
    y: 0.5px;
  }
}

@keyframes spinner_pVqn {

  0%,
  50% {
    x: 13.5px;
    y: 1.5px;
  }

  10% {
    x: 12.5px;
    y: 0.5px;
  }
}

@keyframes spinner_6uKB {

  0%,
  50% {
    x: 13.5px;
    y: 13.5px;
  }

  10% {
    x: 12.5px;
    y: 12.5px;
  }
}

@keyframes spinner_Qw4x {

  0%,
  50% {
    x: 1.5px;
    y: 13.5px;
  }

  10% {
    x: 0.5px;
    y: 12.5px;
  }
}

/** CURSOR **/
.cursor::before {
  content: "|";
  opacity: 1;
  font-size: 1.5rem;
  width: 0.1em;
  right: 1px;
  color: hsl(var(--primary));
}

.letter {
  margin-left: 0.1em;
  color: #84a2ae;
}

.letter.correct {
  color: #ffffff;
}

.text-primary-red {
  color: hsl(var(--primary)) !important;
}

.command-list {
  background-color: hsl(var(--background));
}
