.not-found {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(27, 27, 29, 1) 100%
  );
  background-size: 200% 200%;
  animation: gradient 15s ease;
  animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
