.not-found {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  );
  background-size: 200% 200%;
  animation: gradient 15s ease;
  animation-fill-mode: forwards;
}

.traffic-light-bulb {
  position: absolute;
  border-radius: 50%;
  width: 145px;
  height: 145px;
  left: 396px;
  bottom: 595px;
  background-color: red;
  animation: traffic-light 6s steps(1);
  animation-fill-mode: forwards;
}

@keyframes traffic-light {
  0% {
    background-color: green;
    left: 396px;
    bottom: 77px;
  }
  33% {
    background-color: orange;
    left: 396px;
    bottom: 336px;
  }
  66% {
    background-color: red;
    left: 396px;
    bottom: 595px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  0% {
    background-position: 0% 50%;
  }
}
